.todoapp {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	min-width: 230px;
	max-width: 550px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
	background: #fff;
	z-index: 1;
	position: relative;
  float: left;
  border:1px solid #ededed;
  width: 320px;
  height:calc(100% - 165px);
	.todoapp {
		margin: 130px 0 40px 0;
		position: relative;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
	}
	.new-todo,
	.main {
		position: relative;
		z-index: 2;
		border-top: 1px solid #e6e6e6;
    overflow-x: hidden;
    height:100%;
	}
	.toggle-all {
		text-align: center;
		border: none;
		/* Mobile Safari */
		opacity: 0;
		position: absolute;
	}
	.toggle-all+label {
		width: 60px;
		height: 34px;
		font-size: 0;
		position: absolute;
		top: -52px;
		left: -13px;
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.toggle-all+label:before {
		content: '❯';
		font-size: 22px;
		color: #e6e6e6;
		padding: 10px 27px 10px 27px;
	}
	.toggle-all:checked+label:before {
		color: #737373;
	}
	.todo-list {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.todo-list li {
		position: relative;
    padding: 15px 20px;
    border-bottom: 1px solid #e0e1e5;
    overflow: hidden;
	}
  .todo-list li:hover{
    background: #e0e1e5;
  }
	.todo-list li:last-child {
		border-bottom: none;
	}
	.todo-list li .toggle {
		text-align: center;
		width: 40px;
		/* auto, since non-WebKit browsers doesn't support input styling */
		height: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto 0;
		border: none;
		/* Mobile Safari */
		-webkit-appearance: none;
		appearance: none;
	}
	.todo-list li .toggle {
		opacity: 0;
	}
	.todo-list li .toggle+label {
		/*
		Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
		IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
	*/
		background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
		background-repeat: no-repeat;
		background-position: center left;
		background-size: 36px;
	}
	.todo-list li .toggle:checked+label {
		background-size: 36px;
		background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
	}
  .todo-list li .view{
    display: -webkit-flex;
    height: 22px;
    position: relative;
  }
  .todo-list li .view .svg-icon{
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }

  .todo-list li .view .title{
    display: inline-block;
    margin-left:10px;
    font-weight:bold;
  }
  .todo-list li .contents{
    color: #82828c;
    line-height: 20px;
    margin: 6px 0 0;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    position: relative;
  }


  .todo-list li .foots{
  color: #c2c2c2;
  margin-top: 6px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
    font-weight: 600;
}
  .todo-list li .foots .date-size{
    vertical-align: middle;
  }
  .todo-list li .foots .file-size{
    margin-left: 15px;
    vertical-align: middle;

  }
  .todo.selected{
    background-color: #eaf0fb;
  }
	.todo-list li.completed label {
		color: #d9d9d9;
		text-decoration: line-through;
	}
	.todo-list li .destroy {
		display: none;
		position: absolute;
		top: 0;
		right: 10px;
		bottom: 0;
		width: 40px;
		height: 40px;
		margin: auto 0;
		font-size: 30px;
		color: #cc9a9a;
		transition: color 0.2s ease-out;
	}
	.todo-list li.editing:last-child {
		margin-bottom: -1px;
	}
	.footer {
		color: #777;
		position: relative;
		padding: 10px 15px;
		height: 40px;
		text-align: center;
		border-top: 1px solid #e6e6e6;
	}
	.footer:before {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 50px;
		overflow: hidden;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
	}
	.todo-count {
		float: left;
		text-align: left;
	}
	.filters {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.filters li {
		display: inline;
	}
	.filters li a {
		color: inherit;
		font-size: 12px;
		padding: 3px 7px;
		text-decoration: none;
		border: 1px solid transparent;
		border-radius: 3px;
	}
	.filters li a:hover {
		border-color: rgba(175, 47, 47, 0.1);
	}
	.filters li a.selected {
		border-color: rgba(175, 47, 47, 0.2);
	}
	.clear-completed,
	html .clear-completed:active {
		float: right;
		position: relative;
		line-height: 20px;
		text-decoration: none;
		cursor: pointer;
	}
	.clear-completed:hover {
		text-decoration: underline;
	}
	.info {
		margin: 65px auto 0;
		color: #bfbfbf;
		font-size: 10px;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		text-align: center;
	}
	.info p {
		line-height: 1;
	}
	.info a {
		color: inherit;
		text-decoration: none;
		font-weight: 400;
	}
	.info a:hover {
		text-decoration: underline;
	}
	/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.toggle-all,
		.todo-list li .toggle {
			background: none;
		}
		.todo-list li .toggle {
			height: 40px;
		}
	}
	@media (max-width: 430px) {
		.footer {
			height: 50px;
		}
		.filters {
			bottom: 10px;
		}
	}
}
